nav ul li:hover {
    background-color: #e65100;
    color: white;
 }

 blockquote{
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #64b5f6; /* Just change the color value and that's it*/
  }
body ul .dropdown-content li a:hover {
    background-color: #f3864bd3; 
}
 .coolH:hover{
    color: white;
 }
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.slider .indicators .indicator-item.active {
  background-color: #039be5;
}

.flex {
    display: flex;
    flex-wrap: wrap;
  }
  .datepicker-date-display{
    background-color: #ef6c00;
}
.datepicker-done{
    color: #1a237e;
}
.datepicker-cancel{
    color: #1a237e;
}

td.is-selected button.datepicker-day-button{
    background-color: #ef6c00;
}
td.is-today button.datepicker-day-button{
    color: #2196f3;
}